:root {
  font-family: 'Lato', sans-serif;
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  overflow: hidden; /* no scrolling */
  text-align: center;
  --vh: 100vh;

  color-scheme: light dark;
  color: rgba(37, 34, 34, 0.87);
  background-color: #e5e9f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: '#e5e9f2'
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#appContainer {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #e5e9f2;
}

#gameCanvas {
  flex: 1;
  width: 100%;
  height: 100%;
  display: block;
}

/* Game bar pieces */
#playerScore,
#computerScore {
  font-size: 16px;
  font-weight: bold;
}

#resultMessage {
  min-height: 1.5em; /* enough height for one line of text */
  margin: 0;
  padding: 0;
  text-align: center; /* optional: keep text centered */
  font-weight: bold;
}

#targetColorText {
  margin: 5px 0;
}

/* Game over pop up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: all; /* allows interaction with the popup, i think? i added on a whim*/
}

.popup-content {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  position: relative;
  text-align: center;
  max-width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.hidden {
  display: none;
}

/* Game key -- want this completely transparent with text that comes through, however I want to be able to click through it too*/
#gameKey { 
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  max-width: 300px;
  z-index: 0;
  text-align: left;
  pointer-events: none;
}
