:root {
  font-family: 'Lato', sans-serif;
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  overflow: hidden; /* no scrolling */
  text-align: center;
  --vh: 100vh;

  color-scheme: light dark;
  color: rgba(37, 34, 34, 0.87);
  background-color: #e5e9f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: '#e5e9f2'
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  text-align: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#appContainer {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #e5e9f2;
}

#gameCanvas {
  flex: 1;
  width: 100%;
  height: 100%;
  display: block;
}

/* Game bar pieces */
#playerScore,
#computerScore {
  font-size: 16px;
  font-weight: bold;
}

#resultMessage {
  min-height: 1.5em; /* enough height for one line of text */
  margin: 0;
  padding: 0;
  text-align: center; /* optional: keep text centered */
  font-weight: bold;
}

#targetColorText {
  margin: 5px 0;
}

/* Game key -- want this completely transparent with text that comes through, however I want to be able to click through it too*/
#gameKey { 
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  max-width: 300px;
  z-index: 0;
  text-align: left;
  pointer-events: none;
}
